@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  background-color: #ffffff;

  .dark {
    background-color: #080f14;
  }
}

@theme {
  --color-primary: #909580; /* Battleship gray */
  --color-primary-l: #b6baa8;
  --color-primary-ll: #e5e8db;
  --color-primary-d: #6c715b;
  --color-primary-dd: #393c2d;

  --color-secondary: #fe654f; /* Tomato */
  --color-secondary-l: #ff8272;
  --color-secondary-ll: #ffa99d;
  --color-secondary-d: #ec3d26;
  --color-secondary-dd: #bc220e;

  --color-complementary: #383d3b; /* Onyx */
  --color-complementary-l: #575e5b;
  --color-complementary-ll: #777f7c;
  --color-complementary-d: #101211;
  --color-complementary-dd: #0d1613;

  --color-fourth: #d6ce93; /* Vanilla */
  --color-fifth: #bbacc1; /* Rose quartz */

  --animate-spin-slow: spinslow 5s linear infinite;
  @keyframes spinslow {
    to {
      transform: rotate(360deg);
    }
  }
}

.btn-primary {
  @apply bg-primary-d hover:bg-primary-dd dark:bg-primary-dd dark:hover:bg-primary-d text-white py-1.5 px-3 rounded-md hover:cursor-pointer
  transition-all ease-in-out duration-200;
}

.input-primary {
  @apply py-1 px-1 border-b-2 outline-none rounded-md
  bg-transparent border-gray-400 focus:border-complementary text-gray-700
  focus:border-b-4 transition-all ease-in-out duration-300
  dark:border-complementary dark:focus:border-complementary-ll dark:text-white;
}
