@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  background-color: #ffffff;

  .dark {
    background-color: #080f14;
  }
}

@theme {
  --color-primary: #0e5f8b;
  --color-primary-hover: #0d4f7e;
  --color-secondary: #c0c0c0;
  --color-secondary-hover: #b0b0b0;
}

.btn-primary {
  @apply bg-primary hover:bg-primary-hover text-white py-1 px-2 rounded hover:cursor-pointer;
}

.input-primary {
  @apply py-0.5 px-1 border outline-none rounded-md
  bg-gray-50 border-gray-300 focus:border-gray-500 text-gray-700
  dark:bg-gray-900 dark:border-gray-700 dark:focus:border-gray-500 dark:text-white;
}
