@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-background-light: #ffffff;
  --color-background-dark: #101211;

  --color-primary: #909580; /* Battleship gray */
  --color-primary-l: #b6baa8;
  --color-primary-ll: #e5e8db;
  --color-primary-d: #6c715b;
  --color-primary-dd: #393c2d;

  --color-secondary: #fe654f; /* Tomato */
  --color-secondary-l: #ff8272;
  --color-secondary-ll: #ffa99d;
  --color-secondary-d: #ec3d26;
  --color-secondary-dd: #bc220e;

  --color-complementary: #383d3b; /* Onyx */
  --color-complementary-l: #575e5b;
  --color-complementary-ll: #777f7c;
  --color-complementary-d: #101211;
  --color-complementary-dd: #0d1613;

  --color-fourth: #d6ce93; /* Vanilla */
  --color-fifth: #bbacc1; /* Rose quartz */

  --animate-spin-slow: spinslow 5s linear infinite;
  @keyframes spinslow {
    to {
      transform: rotate(360deg);
    }
  }
}

.btn-primary {
  @apply 
  py-1.5 px-3 rounded-md border hover:cursor-pointer
  bg-primary-d hover:bg-primary-dd border-primary-d 
  dark:bg-complementary-l dark:border-complementary dark:hover:bg-complementary
  text-white
  transition-all ease-in-out duration-200;
}

.btn-secondary {
  @apply 
  p-1.5 rounded-lg border self-center hover:cursor-pointer 
  bg-primary-l border-complementary hover:bg-primary
  dark:bg-transparent dark:text-white dark:hover:bg-complementary
  text-complementary
  transition-all ease-in-out duration-300;
}

.input-primary {
  @apply 
  p-1 border-b-2 outline-none rounded-md
  bg-transparent border-gray-400 focus:border-complementary focus:border-b-4
  dark:border-complementary dark:focus:border-complementary-ll dark:text-white
  text-gray-700
  transition-all ease-in-out duration-300;
}

.navbar-link {
  @apply self-center text-complementary font-semibold hover:underline hover:cursor-pointer
  dark:text-white;
}

.theme-link {
  @apply p-1 rounded-lg flex items-center
  bg-transparent hover:bg-gray-200
  dark:hover:bg-gray-800
  text-gray-500 dark:text-gray-400
  hover:cursor-pointer
  transition-all ease-in-out duration-300;
}